@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

@layer components {
  .navBarHover {
    @apply h-12 px-5 rounded-full bg-transparent flex items-center 
    gap-2 hover:bg-hoverBg duration-300 cursor-pointer;
  }
  .bottomNavLi {
    @apply hover:underline underline-offset-2 cursor-pointer decoration-[1px] duration-200;
  }
}
}
